<h1>All the kittens</h1>

<%= @message %>

<% @kittens.each do |kitten|%>
  <li><%= link_to kitten.name, kitten_path(kitten) %> | <%= link_to "Delete?", kitten_path(kitten), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %> </li>
<% end %>

<p><%= link_to 'Add A Kitten', new_kitten_path %></p>

<% @pics.each do |pic| %>
  <% @cat_url = "https://farm#{pic['farm']}.staticflickr.com/#{pic['server']}/#{pic['id']}_#{pic['secret']}.jpg" %>
<li><img src="<%= @cat_url %>"><br>

<% end %>
